/*TO DO: 
Find a similar font
find out out to make the font "swollen"
make the font micro-stripy?
change the cursor color to terminal color
*/
/*
@font-face {
  font-family: severance;
  src: url("./assets/xxx");
}*/

:root {
  --terminal-color: #46c2dd;
  --border-radius: 3px;
}

#root {
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--terminal-color);
  background: radial-gradient(#00476d, #02162d, #011227);
  font-weight: bolder;
  font-size: 16px;
  text-shadow: 0px 0 1px rgba(0, 0, 0, 0.5);
  filter: contrast(0.8) blur(0.5px);
}

.header {
  margin: 1.5rem 2.5rem;
  padding-left: 8px;
  font-size: 1.5rem;
  border: 3px solid var(--terminal-color);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 50% 36% 14%;
  position: relative;
  align-content: center;
}

.refinementProgress{
  justify-self: end;
  margin-right: 6px;
}

.lumonLogo {
  justify-self: end;
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translateY(-50%);
  max-height: none;
  height: 6rem;
}

hr {
  border-top: 3.5px solid var(--terminal-color);
  margin: 1.5px 0;
}

#visibleWindow {
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#dataContainer {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 14px;
  top: 0;
  left: 0;
  transition: margin 0.35s ease-in-out;
}

.numbers {
  cursor: default;
  transition: transform 0.3s linear;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swingData {
  animation: swing 2.5s linear infinite;
  animation-delay: calc(var(--delay) * 1s)
}

@keyframes swing {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(3.5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-3.5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.swingData:hover {
  animation: none;
}

.hovered:hover {
  cursor: default;
  transform: scale(2.5, 2.5);
  transition: transform 0.15s linear;
  will-change: transform;
} 

.binContainer {
  display: grid;
  margin: 0 2.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.binContainer > div {
  margin: 0.2rem 1.75rem;
  text-align: center;
  border: 3px solid var(--terminal-color);
  border-radius: var(--border-radius);
}

.hexacode {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}
