/*TO DO: 
Find a similar font
find out out to make the font "swollen"
make the font micro-stripy?
change the cursor color to terminal color
*/

/*
@font-face {
  font-family: severance;
  src: url("./assets/xxx");
}
*/

:root {
  --terminal-color: #46c2dd;
  --border-radius: 3px;
}

#root {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--terminal-color);
  background: radial-gradient(#00476d, #02162d, #011227);
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 0px 0 1px rgba(0, 0, 0, 0.5);
  filter: contrast(0.8) blur(0.5px);
}

.header {
  margin: 1.5rem 2.5rem;
  padding-left: 8px;
  font-size: 1.75rem;
  border: 3px solid var(--terminal-color);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 50% 36% 14%;
  position: relative;
  align-content: center;
}

.refinementProgress{
  justify-self: end;
}

.lumonLogo {
  justify-self: end;
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translateY(-50%);
  max-height: none;
  height: 6rem;
}

hr {
  border-top: 2.7px solid var(--terminal-color);
  margin: 3px 0;
}

.visibleWindow {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.dataContainer {
  padding: 4px 0;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.numbers {
  cursor: default;
  transition: transform 0.35s ease-in-out;
  padding: 4px;
  font-size: 1.5rem;
}

.numbers:hover {
  font-weight: bold;
  cursor: default;
  transform: scale(3, 3);
}

.binContainer {
  display: grid;
  margin: 0 2.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.binContainer > div {
  margin: 0.2rem 1.75rem;
  text-align: center;
  border: 3px solid var(--terminal-color);
  border-radius: var(--border-radius);
}

.hexacode {
  text-align: center;
  margin-bottom: 0.8rem;
}
