/*TO DO: 
Find a similar font
make the font micro-stripy?
*/
/*
@font-face {
  font-family: severance;
  src: url("./assets/xxx");
}*/

:root {
  --terminal-color: #46c2dd;
  --border-radius: 3px;
}

#root {
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--terminal-color);
  background: radial-gradient(#00476d, #02162d, #011227);
  font-weight: bolder;
  font-size: 16px;
  text-shadow: 0px 0 1px rgba(0, 0, 0, 0.5);
  filter: contrast(0.8) blur(0.5px);
  cursor: url("./assets/refinementCursor.svg"), auto;
}

.header {
  margin: 1.5rem 2.5rem;
  padding-left: 8px;
  font-size: 1.5rem;
  border: 3px solid var(--terminal-color);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 50% 36% 14%;
  position: relative;
  align-content: center;
}

.refinementProgress{
  justify-self: end;
  margin-right: 6px;
}

.lumonLogo {
  justify-self: end;
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translateY(-50%);
  max-height: none;
  height: 6rem;
}

hr {
  border-top: 3.5px solid var(--terminal-color);
  margin: 1.5px 0;
}

#visibleWindow {
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#dataContainer {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  /* gap necessary to be able to mouse over consecutive numbers and have them scale */
  gap: 18px;
  top: 0;
  left: 0;
  transition: margin 0.35s ease-in-out;
}

.numbers {
  padding: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.45s ease-in-out;
}

.swingData {
  animation: swing 2.5s linear infinite;
  animation-delay: calc(var(--delay) * 1s)
}

@keyframes swing {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(3.5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-3.5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.swingData:hover {
  animation: none;
}

.hovered {
  transform: scale(2.7);
  /* other option: perspective(100px) translateZ(65px) */
  /* scale requires only a simple multiplication operation, 
  translateZ involves more complex calculations. translateZ requires additional
  layout and painting operations. Diff could not matter, but could potentially 
  be perceived in high-freq interactions, like we do here. So, I took no chance. */
}

.binContainer {
  display: grid;
  margin: 0 2.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.binContainer > div {
  margin: 0.2rem 1.75rem;
  border: 3px solid var(--terminal-color);
  border-radius: var(--border-radius);
}

.binContainer .bin {
  text-align: center;

}

.binContainer .binProgress {
  text-align: left;
  padding-left: 2px;
}

.hexacode {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}
