/*TO DO: 
Find a similar font
make the font micro-stripy?
*/
/*
@font-face {
  font-family: severance;
  src: url("./assets/xxx");
}*/

:root {
  --terminal-color: #46c2dd;
  --border-radius: 3px;
  --scaleFactor: 1;
}

#root {
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--terminal-color);
  background: radial-gradient(#00476d, #02162d, #011227);
  font-weight: bolder;
  font-size: 16px;
  text-shadow: 0px 0 1px rgba(0, 0, 0, 0.5);
  filter: contrast(0.8) blur(0.4px);
  cursor: url("./assets/refinementCursor.svg"), auto;
}

.header {
  margin: 1.5rem 2.5rem;
  padding-left: 8px;
  font-size: 1.5rem;
  border: 3px solid var(--terminal-color);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 50% 36% 14%;
  position: relative;
  align-content: center;
}

.refinementProgress{
  justify-self: end;
  margin-right: 6px;
}

.lumonLogo {
  justify-self: end;
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translateY(-50%);
  max-height: none;
  height: 6rem;
}

hr {
  border-top: 3.5px solid var(--terminal-color);
  margin: 1.5px 0;
}

#visibleWindow {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  outline: none;
}

.macrodataContainer {
  overflow: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: margin 0.35s ease-in-out;
}

#macrodataContainer::-webkit-scrollbar {
  display: none;
}

.numbers {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(var(--scaleFactor, 1));
  will-change: transform;
} 

/* other option: perspective(100px) translateZ(65px) */
  /* scale requires only a simple multiplication operation, 
  translateZ involves more complex calculations and additional
  layout and painting operations. Diff could not matter, but could potentially 
  be perceived in high-freq interactions, like we do here. So, I took no chance. */

/*
@keyframes swing {
  0% {
    transform: translate3d(0px, 0, 0);
  }
  25% {
    transform: translate3d(3.5px, 0, 0);
  }
  50% {
    transform: translate3d(0px, 0, 0);
  }
  75% {
    transform: translate3d(-3.5px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}*/

.numbers:hover {
  animation: none;
}

.binContainer {
  display: grid;
  margin: 0 2.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.binContainer > div {
  margin: 0.2rem 1.75rem;
  border: 3px solid var(--terminal-color);
  border-radius: var(--border-radius);
}

.binContainer .bin {
  text-align: center;
}

.binContainer .binProgress {
  text-align: left;
  padding-left: 2px;
}

.hexacode {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}
