/*TO DO: 
make the font micro-stripy?
*/

@font-face {
  font-family: severance-numbers;
  src: url("./assets/PlusJakartaSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: severance-headers;
  src: url("./assets/04abf85192f34526c9125cf1072ea81e.ttf");
}

@media (min-width: 700px) { 
  :root {
    --terminal-color: #46c2dd;
    --border-radius: 1px;
    --scaleFactor: 1;
  }

  #root {
    
    font-family: "severance-headers"; 
    margin: 0 0 0.75rem 0;
    display: flex;
    flex-direction: column;
    aspect-ratio: 4 / 3;
    width: 100%;
    max-height: 95vh;
    color: var(--terminal-color);
    background: radial-gradient(#00334e, #02162d, #000b14);
    border-radius: 82px; /* to create the rounded corners of the CRT terminal */
    border-left: 12px solid #001634;
    border-right: 12px solid #001634;
    border-top: 3px solid #001634;
    border-bottom: 3px solid #001634;
    box-sizing: border-box;
    font-weight: bolder;
    text-shadow: 0px 0 1px rgba(0, 0, 0, 0.5);
    filter: contrast(0.8) blur(0.4px);
    cursor: url("./assets/refinementCursor.svg"), auto;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 1500px;
    min-width: 800px;
  }

  .header {
    margin: 2.75rem 3rem 1.5rem 3rem;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    border: 3px solid var(--terminal-color);
    border-right: 0;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr auto 10%;
    height:fit-content;
    position: relative;
    align-content: center;
    gap: 2rem;
  }

  .refinementProgress{
    justify-self: end;
    margin-right: 1.25rem;
  }

  .lumonLogo {
    justify-self: end;
    position: absolute;
    margin: -1rem -1.55rem -1.5rem 0.5rem;
    width: auto;
    height: 190%;
    min-width: 0;
    min-height: 0;
    object-fit: cover;
  }

  hr {
    border-top: 3px solid var(--terminal-color);
    margin: 0.9px 0;
  }

  #visibleWindow {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    outline: none;
  }

  .macrodataContainer {
    overflow: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: margin 0.35s ease-in-out;
  }

  #macrodataContainer::-webkit-scrollbar {
    display: none;
  }

  .numbers {
    font-size: 1.45rem;
    font-family: "severance-numbers";
    font-weight: bold;
    text-align: center;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(var(--scaleFactor, 1));
    will-change: transform;
  } 

  .wasteSection {
    display: grid;
    margin: 0.3rem 3.25rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.3rem 2rem;
    font-family: "severance-numbers";
  }

  .container01,
  .container02,
  .container03,
  .container04,
  .container05 {
    position: relative;
  }

  .bin01,
  .bin02,
  .bin03,
  .bin04,
  .bin05 {
    position: relative;   
    text-align: center;
    z-index: 1000;
    background-color: #02162d;
    border: 3px solid var(--terminal-color);
    border-radius: var(--border-radius);
  }

  /* State 0: idle */
  .binLid-top,
  .binLid-top.idle {
    position: absolute;
    z-index: 100;

    top: 0px;  /* Final position post-animation */
    left: 0px;
    width: calc(100% - 6px);
    background-color: #02162d;
    height: 11px;
    border: 3px solid var(--terminal-color);
    border-radius: var(--border-radius);
    /* animation setup */
    pointer-events: none;
    transition: transform 0.75s ease;
  }

  /* State 1: Opening Top Lid */
  .binLid-top.opening-top,
  .binLid-top.open,
  .binLid-top.opening-sides,
  .binLid-top.closing-sides {
    transform: translateY(-14px);
  }

  /* State 5: Closing Top Lid */
  .binLid-top.closing-top {
    transform: translateY(12px);
  }

  .binLid-left, 
  .binLid-right {
    position: absolute;
    top: -10px; /* sit them perfectly on top of bin's 3px border */
    width: calc(50% - 3px);
    height: 6px;
    z-Index: 10;
    background-color: #02162d;
    border: 3px solid var(--terminal-color);
    border-radius: var(--border-radius);
    visibility: hidden;
  }

  .binLid-left {
    left: 2px;
    transform-origin: top left;
  }

  .binLid-right {
    right: 2px;
    transform-origin: top right;
  }

  .binLid-left.opening-sides,
  .binLid-right.opening-sides,
  .binLid-left.open,
  .binLid-right.open,
  .binLid-left.closing-sides,
  .binLid-right.closing-sides {
    visibility: visible;
  }

  /* Step 2: Animate Side Lids Opening */
  .binLid-left.opening-sides {
    animation: openLidLeft 0.65s ease forwards
  }
  .binLid-right.opening-sides {
    animation: openLidRight 0.65s ease forwards
  }

  /* State 4: Animate Side Lids Closing */
  .binLid-left.closing-sides {
    animation: closeLidLeft 0.65s ease forwards;
  }

  .binLid-right.closing-sides {
    animation: closeLidRight 0.65s ease forwards;
  }

  .binLid-left.open {
    transform: translateY(12px) rotate(-135deg) skewX(45deg);
  }

  .binLid-right.open {
    transform: translateY(12px) rotate(135deg) skewX(-45deg);
  }

  @keyframes openLidLeft {
    from { transform: rotate(0deg) skewX(0deg); }
    to { transform: translateY(12px) rotate(-135deg) skewX(45deg); }
  }
    
  @keyframes openLidRight {
    from { transform: rotate(0deg) skewX(0deg); }
    to { transform: translateY(12px) rotate(135deg) skewX(-45deg); }
  }

  @keyframes closeLidLeft {
    from { transform: translateY(12px) rotate(-135deg) skewX(45deg); }
    to { transform: rotate(0deg) skewX(0deg); }
  }

  @keyframes closeLidRight {
    from { transform: translateY(12px) rotate(135deg) skewX(-45deg); }
    to { transform: rotate(0deg) skewX(0deg); }
  }

  [class^="binProgress"] {
    text-align: left;
    padding-left: 3px;
    border: 3px solid var(--terminal-color);
    border-radius: var(--border-radius);
  }

  .flying-item-container {
    font-size: 1.45rem;
    font-family: "severance-numbers";
  }

  footer {
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
  }
}