:root {
  --font-color: #46c2dd;
  --margin: 1rem 2rem;
  --border-radius: 2px;
}

#root {
  width: 100%;
  margin: 0;
  color: var(--font-color);
  background-color: black;
  font-weight: bold;
}

.header {
  margin: var(--margin);
  padding-left: 8px;
  font-size: 1.75rem;
  border: 2px solid var(--font-color);
  border-radius: var(--border-radius);
}

hr {
  height: 2px;
  background-color: var(--font-color);
  border: none;
}

.dataContainer {
  height: 650px;
  background-color: #012134;
}

.binContainer {
  display: grid;
  margin: 0 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.binContainer > div {
  margin: 0.2rem 1.75rem;
  text-align: center;
  border: 2px solid var(--font-color);
  border-radius: var(--border-radius);
}

.hexacode {
  text-align: center;
}
