:root {
  line-height: 1.5;
  color-scheme: dark;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #001326;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}
